
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiểm tra hộp thư - Lamynova</title> 
    <meta name="description" content="Trang đặt lại mật khẩu của Lamynova" />

    <link rel="icon" href="{% static 'main/assets/img/favicon.png' %}" /> 

    <link href="{% static 'main/assets/fonts/fonts.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'main/assets/css/vendors/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/assets/css/vendors/jos.css' %}" />
    <link rel="stylesheet" href="{% static 'main/assets/css/vendors/menu.css' %}" />

    <link rel="stylesheet" href="{% static 'main/assets/css/custom.css' %}" />

    <link href="{% static 'main/assets/css/style.css' %}" rel="stylesheet" />

    </head>

<body>
    <div class="page-wrapper relative z-[1] bg-white dark:bg-dark-950"> 
        <main class="main-wrapper relative overflow-hidden">
            <section class="min-h-screen flex items-center justify-center relative z-1 overflow-hidden py-20 lg:py-0">
                <div class="container">
                    <div class="row justify-center">
                        <div class="xl:col-7 lg:col-8 md:col-10">
                            <div class="py-[60px] px-8 sm:px-[60px] bg-white dark:bg-dark-2 rounded-[10px] shadow-lg text-center">
                                <h1 class="text-3xl sm:text-4xl xl:text-5xl font-bold leading-none -tracking-[1px] mb-3 text-black dark:text-white">Kiểm tra hộp thư đến của bạn</h1>
                                <p class="text-base text-gray-700 dark:text-gray-300 mb-8">
                                    Chúng tôi đã gửi cho bạn hướng dẫn đặt lại mật khẩu vào địa chỉ email của bạn. Vui lòng kiểm tra email của bạn.                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </main>
    </div>

    <script src="{% static 'main/assets/js/vendors/counterup.js' %}" type="module"></script>
    <script src="{% static 'main/assets/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/assets/js/vendors/fslightbox.js' %}"></script>
    <script src="{% static 'main/assets/js/vendors/jos.min.js' %}"></script>
    <script src="{% static 'main/assets/js/vendors/menu.js' %}"></script>
    {% comment %}
    <script src="{% static 'main/assets/js/vendors/aos.js' %}"></script>
    <script src="{% static 'main/assets/js/vendors/lenis.min.js' %}"></script>
    {% endcomment %}

    <script src="{% static 'main/assets/js/main.js' %}"></script>
</body>

</html>